name: Android CI

on:
  push:
    branches: 
    - master
    - stagin
    - dev
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: write permission for Gradlew
      run: chmod +x ./gradlew
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew 
    - name: Build Dev Application 
      run: ./gradlew buildDevDebug
